node_modules

# Output
.output
.vercel
/.svelte-kit
/build
/dist
/app
/src/plugins
*.tgz

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.production.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

#Rizom
.rizom
.cache
debug.md
/logs
db/*
static
src/hooks.server.ts
src/config
src/routes
drizzle.config.ts
src/app.generated.d.ts
rizom.config.browser.js
src/lib/server/schema.ts
src/routes/(rizom)
static/medias
test-results
pnpm-lock.yaml

.auto
src/params
