node_modules

# Output
.output
.vercel
/.svelte-kit
/build
/dist
/app
*.tgz

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.production.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

#Rime
.rime
.cache
debug.md
/logs
db/*
static
src/hooks.server.ts
src/routes
drizzle.config.ts
src/app.generated.d.ts
src/rime.generated.d.ts
src/lib/+rime/*
src/lib/+rime.generated
src/routes/(rime)
static/medias
test-results
pnpm-lock.yaml

.auto
src/params
/.zed
rime.code-workspace

# rime
+rime.generated
